$MAX_CONNECTS = 2000;			# maximum simult. connects
$MAX_TRANSFERS_SMALL = 100;		# the maximum number of sim. file transfers
$MAX_TRANSFERS_LARGE = 300;		# the maximum number of sim. file transfers
$TRANSFER_SMALL = 1_000_000;		# size of a "small" file

$MAX_CONN_IP  =   4;			# maximum simult. connects per ip
$BLOCKTIME    = 7200;			# block time

$NO_SEGMENTED =   1;			# allow segmented downloads?

$REQ_TIMEOUT  =  60;			# request timeout
$RES_TIMEOUT  = 180;			# response timeout
$PER_TIMEOUT  = 120;			# persistent connection timeout

$MAX_POOL     =  3;			# max. number of idle workers

$DB_HOME      = "db";			# database home directory

$DOCROOT      = "/usr/www/htdocs";	# document root

$SERVER_HOST  = "0.0.0.0";		# host to bind on
$SERVER_PORT  = 80;			# port to listen on
$SERVER_PORT2 = 88;			# port to listen on

$CMDSHELL_PORT = 7262;			# open a command shell on this port

$BUFSIZE       = 16*1024;		# buffer size

$AIO_PARALLEL  = 1;			# how many reader threads for i/o?

$ACCESS_LOG    = "logs/accesslog";	# access log
